/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: inherit;
    font-family: inherit;
}
/* End Reset Styles */

/* Base Styles */
html {
    --dark-gray: #242424;
    --dark-gray-rgb: 36, 36, 36;
    --white: #f0f0f0;
    --yellow: #f8faad;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--dark-gray);
    color: var(--white);
    min-height: 100vh;
}
/* End Base Styles */

/* Utilities Styles */
.wrapper {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    --padding-horizontal: 2rem;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: var(--yellow);
    color: var(--dark-gray);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.heading-underline {
    position: relative;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -1.92px;
    display: inline-block;
}

.heading-underline:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: var(--yellow);
}

@media (max-width: 768px) {
    .wrapper {
        --padding-horizontal: 1.5rem;
    }

    .heading-underline {
        font-size: 48px;
    }
}
/* End Utilities Styles */

/* Nav Styles */
.nav {
    padding: 36px 0;
    z-index: 50;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 60px;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

.nav-link {
    font-weight: 600;
}

.nav-link:not(.btn):hover {
    color: var(--yellow);
}

.nav-mobile-close-btn {
    display: none;
    position: absolute;
    top: 40px;
    right: 25px;
}

.nav-mobile-menu-btn {
    display: none;
}

@media (max-width: 768px) {
    .nav-logo {
        width: 45px;
    }

    .nav-links {
        gap: 48px;
        flex-direction: column;
        position: fixed;
        inset: 0;
        z-index: 50;
        justify-content: center;
        background-color: rgba(var(--dark-gray-rgb), 0.8);
        backdrop-filter: blur(10px);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        transform: translateX(0%);
    }

    .nav-link.btn {
        margin-top: 60px;
    }

    .nav-mobile-close-btn {
        display: block;
    }

    .nav-mobile-menu-btn {
        display: block;
    }

    .nav-mobile-menu-btn svg,
    .nav-mobile-close-btn svg {
        width: 30px;
        height: 30px;
    }
}
/* End Nav Styles */

/* Intro Styles */
.intro {
    min-height: 100vh;
}

.intro-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-img {
    margin-left: auto;
}

.intro-heading {
    font-size: 150px;
    font-weight: 600;
    letter-spacing: -4.92px;
}

.intro-heading small {
    font-size: 80px;
    letter-spacing: -2.4px;
}

.intro-p {
    font-size: 36px;
    letter-spacing: -1.08px;
}

.intro-cta {
    padding-left: 56px;
    padding-right: 56px;
    margin-top: 56px;
    font-size: 24px;
}

@media (max-width: 768px) {
    .intro-wrapper {
        flex-direction: column;
    }

    .intro-img {
        margin: auto;
    }

    .intro-heading {
        font-size: 80px;
    }

    .intro-p {
        font-size: 24px;
        text-align: center;
    }

    .intro-cta {
        font-size: 16px;
    }
}
/* End Intro Styles */

/* About Us Styles */
.about-us {
    padding-bottom: 50px;
}

.about-us-wrapper {
    display: flex;
    align-items: center;
}

.about-us-img {
    width: 100%;
}

.about-us-content {
    text-align: right;
    width: 100%;
}

.about-us-p {
    margin-top: 32px;
    font-size: 20px;
    line-height: 150%;
}

@media (max-width: 768px) {
    .about-us-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .about-us-content {
        text-align: center;
    }
    .about-us-p {
        font-size: 16px;
        max-width: 50ch;
        margin-left: auto;
        margin-right: auto;
    }
}
/* End About Us Styles */
